fastapi>=0.110.0
uvicorn[standard]>=0.30.0
sqlmodel
pydantic-settings
pydantic>=2.7.2
asyncpg
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
alembic
mcp>=1.1.1
anyio>=4.5.0
cohere
openai
fuzzywuzzy
python-Levenshtein
aiosqlite
pytest
requests
httpx